html, body {
    height: 100%;
    width: 100%;
}

body {
    background: silver;
    transition: 1s;
}

a:link { color: antiquewhite}
a:visited { color: ghostwhite; }
a:hover { color: slategray}

.profile { 
    text-align: center;
    height: 100%;
    position: relative;
    }
.profile-box {
    background-color: rosybrown;
    display: inline-block;
    border-radius: 50px;
    padding: 20px;
}
.profile-image {
    text-align: center;
}
.profile-image .profile-pic {   
    width: 200px; 
    border-radius: 100px;
    position: absolute;
    top: -175px;
    right: 22.5%;
}
.profile-details {
    text-align: center;
    font-family: "Courier";
}
.name {
    font-family: "Lucida";
}
.social-media-list {
    list-style: none;
    padding-left: 0;
    text-align: center;
}
.social-media-list li { 
    display: inline-block;
    margin: 0 10px;
}
.vertical-align {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media(min-width: 650px) { 
    body {
        background: gray;
        transition: 3s;
    }